<div class="container">
  <div class="grid__user">
    <div class="flex justify-content-between align-items-center">
      <h1>{{ "checkout.payment" | translate }}</h1>
      <button pButton pRipple icon="pi pi-arrow-right" class="p-button-primary p-button-rounded mr-2">
      </button>
    </div>
    <div class="grid__row">
      <div class="flex justify-content-between">
        <div class="col-9 px-3 surface-card shadow-3">
          <form [formGroup]="formCheckOut">
            <div class="p-fluid p-formgrid grid p-3">
              <div class="field col-12 md:col-6">
                <label class="font-bold text-900">{{ "checkout.full_name" | translate }}</label>
                <input pInputText type="text" formControlName="receiveName"/>
              </div>
              <div class="field col-12 md:col-6">
                <label class="font-bold text-900">{{ "checkout.phone_number" | translate }}</label>
                <input pInputText type="text" formControlName="phoneReceive"/>
              </div>
              <div class="field col-12 md:col-12">
                <label class="font-bold text-900">{{ "checkout.address_receive" | translate }}</label>
                <input pInputText type="text" formControlName="addressReceive"/>
              </div>

              <div class="field col-12 md:col-12 flex justify-content-end">
                <button pButton pRipple label="Save"
                        class="p-button-success mr-2 w-4">
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-3 px-3 py-0">
          <div class="surface-section shadow-3 h-full px-3 ">
            <h3 class="m-0 py-4">{{ "checkout.order_info" | translate }}</h3>
            <div class="text-sm flex justify-content-between align-items-center line-height-4 mb-3">
              <span>{{ "checkout.total" | translate }}: </span>
              <span class="font-semibold text-red-500 text-xl">
                                {{ getTotal() | currency: "VND" }}
                            </span>
            </div>
            <button pButton pRipple label="Payment" [disabled]="formCheckOut.invalid" (click)="onSubmitCheckOut()" class="p-button-primary mr-2 w-full">
            </button>
          </div>
        </div>
      </div>


      <div class="col-9 surface-card shadow-3 mt-3">
        <div class="p-fluid p-formgrid grid">
          <p-table [lazy]="true" [value]="Items"
                   [rows]="params.pageSize" responsiveLayout="scroll">
            <ng-template pTemplate="header">
              <tr>
                <th class="text-center text-green-900"></th>
                <th class="text-left text-green-800">
                  {{ "cart.product_name" | translate }}
                </th>
                <th class="text-center text-green-900">
                  {{ "cart.quantity" | translate }}
                </th>
                <th class="text-center text-green-900">
                  {{ "cart.price" | translate }}
                </th>
                <th class="text-right text-green-600">
                  {{ "cart.total" | translate }}
                </th>
                <th class="text-right"></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
              <tr>
                <td class="text-center">
                  <img src="assets/Img/product/{{item.productImage}}" width="100" class="shadow-4"/>
                </td>
                <td>{{ item.productName }}</td>
                <td class="text-center">
                  <input type="number" name="2" [value]="item.quantity" inputId="minmax" mode="decimal" [min]="1"
                         [max]="999">
                </td>
                <td class="text-center" style="width: 14%; min-width: 20rem">
                  {{ item.price | currency: "VND" }}
                </td>
                <td class="text-right">
                  {{ (item.price * item.quantity) | currency: "VND" }}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
