.order-detail-wrapper {
  border-top: 1px solid #ddd;
}
.table-wrapper {
  border-collapse: collapse;
}
.table-wrapper td,
.table-wrapper th {
  border-top: 1px solid var(--green-color);
  border-bottom: 1px solid #ddd;
  height: 50px;
  padding: 10px;
}
