<div class="footer">
  <div class="grid__full-width">
    <div class="footer-top">
      <div class="grid__user">
        <div class="grid__row">
          <div class="grid__column-3">
            <ul class="footer-list">
              <div class="footer-title-wrapper">
                <span class="footer-item-title">{{"user_footer.about_us"| translate}}</span>
              </div>
              <li class="footer-item">
                <a class="footer-item-link">{{"user_footer.terms_of_use"| translate}}</a>
              </li>
              <li class="footer-item">
                <a class="footer-item-link">{{"user_footer.privacy_policy"| translate}}</a>
              </li>
              <li class="footer-item">
                <a class="footer-item-link">{{"user_footer.sales_policy"| translate}}</a>
              </li>
              <li class="footer-item">
                <a class="footer-item-link">{{"user_footer.shipping_method"| translate}}</a>
              </li>
            </ul>
          </div>
          <div class="grid__column-3">
            <ul class="footer-list">
              <div class="footer-title-wrapper">
                <span class="footer-item-title">{{"user_footer.your_account"| translate}}</span>
              </div>
              <li class="footer-item">
                <a href="/sign-in" class="footer-item-link">{{"user_footer.login"| translate}}</a>
              </li>
              <li class="footer-item">
                <a href="./sign-up" class="footer-item-link">{{"user_footer.create_account"| translate}}</a>
              </li>
              <li class="footer-item">
                <a href="/cart" class="footer-item-link">{{"user_footer.order_list"| translate}}</a>
              </li>
            </ul>
          </div>
          <div class="grid__column-3">
            <ul class="footer-list">
              <div class="footer-title-wrapper">
                <span class="footer-item-title">{{"user_footer.customer_support"| translate}}</span>
              </div>
              <li class="footer-item">
                <a class="footer-item-link">{{"user_footer.frequently_question"| translate}}</a>
              </li>
              <li class="footer-item">
                <a class="footer-item-link">{{"user_footer.change_policy"| translate}}</a>
              </li>
              <li class="footer-item">
                <a class="footer-item-link">{{"user_footer.regulations"| translate}}</a>
              </li>
            </ul>
          </div>
          <div class="grid__column-3">
            <ul class="footer-list">
              <div class="footer-title-wrapper">
                <span class="footer-item-title">{{"user_footer.contact"| translate}}</span>
              </div>
              <li class="footer-item">
                <span class="footer-item-text">Hotline: 081 3399 818</span>
              </li>
              <li class="footer-item">
                <span class="footer-item-text">Email: support@qpbookstore.com</span>
              </li>
              <li class="footer-item footer-item__custom">
                <a class="footer-item-link footer-item-link__custom">
                  <i class="footer-item-icon fa-brands fa-youtube"></i>
                </a>
                <a class="footer-item-link footer-item-link__custom">
                  <i class="footer-item-icon fa-brands fa-facebook-f"></i>
                </a>
                <a class="footer-item-link footer-item-link__custom">
                  <i class="footer-item-icon fa-brands fa-instagram"></i>
                </a>

                <a class="footer-item-link footer-item-link__custom">
                  <i class="footer-item-icon fa-brands fa-linkedin-in"> </i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="grid__full-width">
      <div class="footer-bottom">
        <div class="grid__user">
          <div class="grid__row footer-bottom-wrapper">
            <span class="footer-bottom__text">
              © 2022- Under the ownership of Q&P Bookstore
            </span>
            <span class="footer-bottom__text">
              Q&P bookstore bookstore has registered
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>