<div class="grid">
  <div class="col-12">
    <form [formGroup]="formCategory">
      <p-card>
        <p-toolbar styleClass="mb-4">
          <ng-template pTemplate="left">
            <div class="my-2">
              <h3 class="m-0 text-green-600">
                {{ id ? "Edit " : "New " }}{{ "category.category" | translate }}
              </h3>
            </div>
          </ng-template>
          <ng-template pTemplate="right">
            <div class="my-2">
              <a pButton pRipple icon="pi pi-arrow-right" class="no-underline p-button-rounded mr-2"
                href="/admin/category">
              </a>
            </div>
          </ng-template>
        </p-toolbar>

        <div class="flex flex-column justify-content-center align-content-center">
          <div class="field col-12 md:col-6 flex flex-column">
            <label>{{ "category.category_name" | translate }}</label>
            <input pInputText formControlName="categoryName" type="text" />
          </div>

          <div class="field col-12 md:col-6 flex flex-column">
            <label>{{ "category.status" | translate }}</label>
            <p-inputSwitch formControlName="status"></p-inputSwitch>
          </div>
        </div>
        <div class="w-full flex justify-content-center">
          <button pButton (click)="onSubmitCategoryForm()" [disabled]="formCategory.invalid" pRipple label="{{ id ? 'Update' : 'Save' }}"
                  class="p-button-primary p-button-rounded w-13rem mr-2">
          </button>
          <button (click)="onDelete()" pButton pRipple label="{{ id ? 'Delete'  : 'Cancel' }}"
                  class="{{ id?'p-button-danger':'p-button-primary' }} w-13rem p-button-rounded mr-2">
          </button>
        </div>
      </p-card>
    </form>
  </div>
</div>
