<ul class="layout-menu-list">
  <li class="layout-menu-item">
    <div class="layout-menu-item-title">
      {{ "left_menu.product" | translate }}
    </div>
    <ul class="sub-menu-list">
      <li class="sub-menu-item">
        <a href="/admin/" class="sub-menu-item-link">
          <i class="sub-menu-item-icon pi pi-book"></i>
          <span class="sub-menu-item-text">
            {{ "left_menu.book" | translate }}
          </span>
        </a>
      </li>
      <li class="sub-menu-item">
        <a href="/admin/category" class="sub-menu-item-link">
          <i class="sub-menu-item-icon pi pi-bars"></i>
          <span class="sub-menu-item-text">
            {{ "left_menu.category" | translate }}
          </span>
        </a>
      </li>
    </ul>
  </li>
  <li class="layout-menu-item">
    <div class="layout-menu-item-title">
      {{ "left_menu.user" | translate }}
    </div>
    <ul class="sub-menu-list">
      <li class="sub-menu-item">
        <a href="/admin/user" class="sub-menu-item-link">
          <i class="sub-menu-item-icon pi pi-users"></i>
          <span class="sub-menu-item-text">
            {{ "left_menu.user" | translate }}
          </span>
        </a>
      </li>
    </ul>
  </li>
  <li class="layout-menu-item">
    <div class="layout-menu-item-title">
      {{ "left_menu.order" | translate }}
    </div>
    <ul class="sub-menu-list">
      <li class="sub-menu-item">
        <a href="/admin/order" class="sub-menu-item-link">
          <i class="sub-menu-item-icon pi pi-shopping-cart"></i>
          <span class="sub-menu-item-text">
            {{ "left_menu.order" | translate }}
          </span>
        </a>
      </li>
    </ul>
  </li>
</ul>
