.hide-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.hide-text-1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
