<div class="container">
  <div class="grid__user mb-3">
    <div class="grid__row">
      <h1>{{ "cart.shopping_cart" | translate }}</h1>

      <div class="w-full mb-5">
        <div style="overflow-x: auto">
          <p-table [lazy]="true" [value]="Items" [rows]="params.pageSize" responsiveLayout="scroll">
            <ng-template pTemplate="header">
              <tr>
                <th class="text-center text-green-900"></th>
                <th class="text-left text-green-800">
                  {{ "cart.product_name" | translate }}
                </th>
                <th class="text-center text-green-900">
                  {{ "cart.quantity" | translate }}
                </th>
                <th class="text-center text-green-900">
                  {{ "cart.price" | translate }}
                </th>
                <th class="text-right text-green-600">
                  {{ "cart.total" | translate }}
                </th>
                <th class="text-right"></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
              <tr>
                <td class="text-center">
                  <img src="assets/Img/product/{{item.productImage}}" width="100" class="shadow-4" />
                </td>
                <td>{{ item.productName }}</td>
                <td class="text-center">
                  {{ item.quantity }}
                </td>
                <td class="text-center" style="width: 14%; min-width: 20rem">
                  {{ item.price | currency: "VND" }}
                </td>
                <td class="text-right">
                  {{ (item.price * item.quantity) | currency: "VND" }}
                </td>
                <td class="text-right">
                  <button pButton pRipple (click)="removeItem(item.id)" icon="pi pi-trash"
                    class="p-button-danger p-button-rounded"></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div class="grid mt-2">
          <div class="col-8"></div>
          <div class="col-4">
            <div class="text-sm flex justify-content-between align-items-center line-height-4">
              <span class="font-semibold text-xl">{{ "cart.grand_total" | translate }}:
              </span>
              <span class="font-semibold text-red-500 text-xl">
                {{ getTotal() | currency: "VND" }}
              </span>
            </div>
            <div class="flex justify-content-end align-items-center">
              <a href="/cart/check-out" class="no-underline">
                <button pButton pRipple icon="pi pi-dollar" label="Check out" class="p-button-success mt-4"></button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>